body{
Margin: 0px;
padding: 0px;
Background : #CCCCCC;

}
    nav a {
    text-decoration: none;
   color:#ffffff;
    }
    nav a:hover {
    background-color: #777777;
    color:#ffffff;
    }
 li
{
font-size:24px;
line-height:40px;
height:40px;
padding:20px;
display:inline-block;
}
ul
{
background-color:#444;
text-align:Center;
padding:0px;
margin:0px;
list-style:none;
}


